@model SliderEditVM
@{
    ViewData["Title"] = "Edit";
}

@section fontawsome {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<div class="container mt-5 ml-3">
    <h3>Edit Slider:</h3>

    <label>Current Image:</label>
    <img src="~/img/@Model.Image" width="600px" height="400px" />
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                   
                </div>
                <div class="form-group">
                    <label>Change Image:</label>
                    <input asp-for="NewImage" class="form-control" />
                    <span class="text-danger" asp-validation-for="NewImage"></span>
                </div>
                <div class="button-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-secondary" asp-action="Index">Back</a>
                </div>
            </div>
        </div>
    </form>
</div>

